@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.player {
  border: solid black 1px;
}

.inactive-player {
  color: slategrey;
}

.dice-container {
  text-align: left;
  padding-left: 30px;
}

.dice-list {
  padding: 0;
  list-style: none;
  text-align: left
}
